<h1>レビュー詳細</h1>
<p><%= @movie_review.content %></p>
<p>評価値: <%= @movie_review.rating %></p>
<p>投稿された映画：<%= link_to @movie_review.movie.title, movie_path(@movie_review.movie) %></p>
<% if logged_in? && @movie_review && @movie_review.user == current_user %>
  <%= link_to "編集", edit_movie_review_path(@movie_review) %>
  <%= link_to "削除", movie_review_path(@movie_review), data: { turbo_method: :delete, confirm: "本当に削除しますか？" } %>
<% end %>