<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: '映画名、ジャンル、監督、俳優などを入力してください' %>
  <%= submit_tag '検索' %>
<% end %>

<% if @keyword || @genre || @director || @cast.present? %>
  <h1>検索結果</h1>

  <% if @movies.any? %>
    <%# <h1>検索結果</h1> %>
    <ul>
      <% @movies.each do |movie| %>
        <!-- 映画の情報を表示するコード -->
        <!-- 例: -->
        <h2><%= movie.title %></h2>
        <p><strong>ジャンル:</strong> <%= movie.genre %></p>
        <p><strong>監督:</strong> <%= movie.director %></p>
        <p><strong>俳優:</strong> <%= movie.cast %></p>
        <p><strong>評価値:</strong> <%= movie.rating %></p>
        <!-- 他の情報を表示するコード -->
      <% end %>
  <% else %>
    <p>該当する映画が見つかりませんでした。</p>
  <% end %>
<% end %>