<% provide(:title, @movie.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="movie_info">
      <h1><%= @movie.title %></h1>
      <p>ジャンル: <%= @movie.genre %></p>
      <p>監督: <%= @movie.director %></p>
      <p>キャスト: <%= @movie.cast %></p>
      <p>評価: <%= @movie.rating %></p>
      <!-- その他の映画の属性を表示 -->
    </section>
  </aside>

      <h2>レビューを書く</h2>
      <%= form_with(model: @movie_review, url: movie_reviews_path, method: :post) do |form| %>
        <%= form.text_area :content, placeholder: 'レビュー内容' %>
        <%= form.number_field :rating, placeholder: '評価値' %>
        <%= form.hidden_field :movie_id, value: @movie.id %>
        <%= form.submit '投稿' %>
      <% end %>

</div>